.App {
  text-align: center;
}

.nav li {
  color: white;
  font-size: 42px;
}
.btn-group {
  margin-top: 50px;
}

.middle-content {
  width: 40%;
  margin: 50px auto;
  text-align: left;
}

.add {
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  border: 1px solid black !important;
}

.select-area {
  width: 100%;
  padding: 10px;
}